<li>
	{{name}}

	{{#if devour}}
	<form class="burgerform">
		<input type="hidden" class="burger_id" value={{this.id}}>
		</input>
		<button type="submit" class="btn2">EAT DA BURGER</button>
	</form>

	{{else}}

	{{/if}}

</li>